<VirtualHost *:{{ application.app_port }}>
    DocumentRoot "{{ apache_app_root_doc }}"
    <Directory "{{ apache_app_root_doc }}">
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>