upstream myapp1 {
        {% for host in (groups['app'] | map('extract', hostvars, ['ansible_host'])) %}
        server {{ host }}:{{ application.app_port }};
        {% endfor %}
    }

server {
    listen {{ nginx_https_port }} ssl http2 default_server;
    listen [::]:{{ nginx_https_port }} ssl http2 default_server;
    keepalive_timeout   70;

    server_name {{ nginx_server_names | join (' ')}};

    ssl_certificate "{{ ssl_cert_path }}";
    ssl_certificate_key "{{ ssl_cert_key_path }}";
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;

    location / {
       proxy_set_header HOST $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

       proxy_pass http://myapp1;
    }

    location ~ \.php$ {
      proxy_set_header HOST $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

      proxy_pass http://myapp1;

    }
}